# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Folder
/.classpath
/.project
/.settings/
/target/
/.idea/

# Oss
.DS_Store
.pixi/*
!.pixi/config.toml
.vscode/settings.json
.env
__pycache__
.gitignore
sample_data/test_masks.tif
sample_data/test_flows.tif
sample_data/test-1.tif
sample_data/Results
tmp/

# Sample folder
samples/

# VScode
.vscode

